<!DOCTYPE html>
<html><head>
<title>Image upload with Django and Cloudinary</title>




<meta charset="utf-8">
<meta name="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="telephone=no" name="format-detection">
<meta name="description" content="">
<meta name="renderer" content="webkit">
<meta name="theme-color" content="#ffffff">











<script type="application/javascript">
var doNotTrack = false;
if (!doNotTrack) {
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', 'UA-82728104-5', 'auto');
	
	ga('send', 'pageview');
}
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>



<link type="text/css" rel="stylesheet" href="/vendor/css/bootstrap.min.css">


  




<link rel="icon" href="https://alphacoder.xyz/images/alpha-coder-logo-v1-small.png">



<link rel="stylesheet" href="https://alphacoder.xyz/scss/journal.min.e3bbe8a4e9def42361d46a08558b2ceeb666c944d881cbcfa75a3435be6afa74.css" integrity="sha256-47vopOne9CNh1GoIVYss7rZmyUTYgcvPp1o0Nb5q&#43;nQ=" media="screen">



<link rel="stylesheet" href="https://alphacoder.xyz/scss/dark-mode.min.16749f4d04ce998e04ecf1c45f01d051b413e9693378f8834e15973538e1d735.css" integrity="sha256-FnSfTQTOmY4E7PHEXwHQUbQT6WkzePiDThWXNTjh1zU=" media="screen">


<script src="/vendor/js/loadCSS.js"></script>
<script>
  loadCSS("https://fonts.googleapis.com/css?family=Lora|Montserrat|Fira+Mono|Noto+Serif+SC|Material+Icons|Exo+2");
</script>






  <script src="/js/toc.js"></script>







<script src="https://cdn.jsdelivr.net/npm/vue-disqus@3/dist/vue-disqus.js"></script>








</head>
<body>
    	<div id="app"><div id="sideContainer" class="side-container">
    
    <a class="a-block nav-head false" href="https://alphacoder.xyz/">
    
        <div class="nav-title">
            Alpha Coder
        </div>
        
    </a>

    <div class="nav-link-list">
        
        
            
            
            
            
            
            <a class="a-block nav-link-item false" href="/blog/">
                Blog
            </a>
            
        
            
            
            
            
            
            <a class="a-block nav-link-item false" href="https://codereviewclub.com">
                Code Review Club
            </a>
            
        
            
            
            
            
            
            <a class="a-block nav-link-item false" href="https://www.youtube.com/channel/UC1vg_0J9BGfahmc7flbiwJw">
                Videos
            </a>
            
        
            
            
            
            
            
            <a class="a-block nav-link-item false" href="https://tinyletter.com/nicholaskajoh">
                Newsletter
            </a>
            
        
    </div>

    

    <div class="nav-footer">
        
<a href="https://twitter.com/AlphaCoderXYZ">
    Twitter
</a>
<br>

<a href="mailto:support@alphacoder.xyz">
    Email
</a>
<br>

<a href="/blog/index.xml">
    RSS
</a>
<br>


        &copy;
    
    Copyright 2017 to ∞. Nicholas Kajoh. All rights reserved.
    

    </div>
    
</div><div id="extraContainer" class="extra-container">
    
    
    <div class="toc animated-visibility" :class="{ invisible: scrollY <= 140 }">


	<div class="toc-content">
	
		
		
		
		<center>- OUTLINE -</center>
		
		
		<ul>
			
				
				
					
						
						
						
						
							
								
									<ul>
								
							
						
						
							<li>
								<a href="#console" onclick="onNavClick(`#console-nav`)" id="console-nav">
									Console
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#install" onclick="onNavClick(`#install-nav`)" id="install-nav">
									Install
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#settings" onclick="onNavClick(`#settings-nav`)" id="settings-nav">
									Settings
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#models" onclick="onNavClick(`#models-nav`)" id="models-nav">
									Models
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#forms" onclick="onNavClick(`#forms-nav`)" id="forms-nav">
									Forms
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#views" onclick="onNavClick(`#views-nav`)" id="views-nav">
									Views
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#template" onclick="onNavClick(`#template-nav`)" id="template-nav">
									Template
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#display" onclick="onNavClick(`#display-nav`)" id="display-nav">
									Display
								</a>
							</li>
						
						
					
				
			
		</ul>
	</div>

</div>
    
    <div class="pagination">
        <a id="globalBackToTop" class="pagination-action animated-visibility" href="#top" :class="{ invisible: scrollY == 0 }">
            <i class="material-icons pagination-action-icon">
                keyboard_arrow_up
            </i>
        </a>
        
        <a type="button" class="pagination-action" id="darkModeToggleButton">
            <span class="material-icons pagination-action-icon" id="darkModeToggleIcon">
                dark_mode
            </span>
        </a>
        
        
    </div>
</div>
<div class="single-column-drawer-container" id="drawer"
     v-bind:class="{ 'single-column-drawer-container-active': isDrawerOpen }">
    <div class="drawer-content">
        <div class="drawer-menu">
            
            
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="/blog/">
                    Blog
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="https://codereviewclub.com">
                    Code Review Club
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="https://www.youtube.com/channel/UC1vg_0J9BGfahmc7flbiwJw">
                    Videos
                </a>
                
            
                
                
                
                
                
                <a class="a-block drawer-menu-item false" href="https://tinyletter.com/nicholaskajoh">
                    Newsletter
                </a>
                
            
            
            <div class="toc">


	<div class="toc-content">
	
		
		
		
		<center>- OUTLINE -</center>
		
		
		<ul>
			
				
				
					
						
						
						
						
							
								
									<ul>
								
							
						
						
							<li>
								<a href="#console" onclick="onNavClick(`#console-nav`)" id="console-nav">
									Console
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#install" onclick="onNavClick(`#install-nav`)" id="install-nav">
									Install
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#settings" onclick="onNavClick(`#settings-nav`)" id="settings-nav">
									Settings
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#models" onclick="onNavClick(`#models-nav`)" id="models-nav">
									Models
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#forms" onclick="onNavClick(`#forms-nav`)" id="forms-nav">
									Forms
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#views" onclick="onNavClick(`#views-nav`)" id="views-nav">
									Views
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#template" onclick="onNavClick(`#template-nav`)" id="template-nav">
									Template
								</a>
							</li>
						
						
					
				
			
				
				
					
						
						
						
						
						
							<li>
								<a href="#display" onclick="onNavClick(`#display-nav`)" id="display-nav">
									Display
								</a>
							</li>
						
						
					
				
			
		</ul>
	</div>

</div>
            
        </div>
    </div>
</div>
<transition name="fade">
    <div id="drawer-mask" v-bind:class="{ 'single-column-drawer-mask': mounted }" v-if="isDrawerOpen" v-on:click="toggleDrawer"></div>
</transition>
<nav id="navBar" class="navbar sticky-top navbar-light single-column-nav-container">
    <div id="navBackground" class="nav-background"></div>
    <div class="container container-narrow nav-content">
        <button id="nav_dropdown_btn" class="nav-dropdown-toggle" type="button" v-on:click="toggleDrawer">
            <i class="material-icons">
                menu
            </i>
        </button>
        <a id="navTitle" class="navbar-brand" href="https://alphacoder.xyz/">
            Alpha Coder
        </a>
        
        <button type="button" class="nav-darkmode-toggle" id="darkModeToggleButton2">
            <i class="material-icons" id="darkModeToggleIcon2">
                dark_mode
            </i>
        </button>
        
    </div>
</nav>
<div class="single-column-header-container" id="pageHead"
     v-bind:style="{ transform: 'translateZ(0px) translateY('+.3*scrollY+'px)', opacity: 1-navOpacity }">
    <a href="https://alphacoder.xyz/">
        <div class="single-column-header-title">Alpha Coder</div>
        

    </a>
</div>

            <div id="content">
                <div id="streamContainer" class="stream-container">

    <div class="post-list-container post-list-container-shadow">
        <div class="post">
            
            
            

            <div class="post-head-wrapper-text-only"
                
            >
                <div class="post-title" v-pre>
                    Image upload with Django and Cloudinary
                    
                    <div class="post-meta">
                        
                        <time itemprop="datePublished">
                            2018-02-18
                        </time>
                        

                        

                        
                            <i class="material-icons" style="">label</i>
                            
                                <a href="/tag/django">Django</a>
                                &nbsp;
                            
                        
                        
                    </div>
                </div>
            </div>
            
            <div class="post-body-wrapper">
                
                <div class="post-body" v-pre>
                
                    <p>Managing files/images can be a hassle. It can be a real pain to have to deal with uploads, storage, manipulation, administration and delivery of media content in every project you start/or are involved in.</p>
<p>Luckily, there are cloud platforms that take away the stress of all that, allowing you to ship faster and deliver your product(s) at scale. Cloudinary is one of such platforms. It tags itself as <em>the media management platform for web and mobile developers — an end-to-end solution for all your image and video needs</em>.</p>
<p>Aside Cloudinary’s easy to use API, I was attracted by their very generous free plan. See for yourself at <a href="https://cloudinary.com/pricing">https://cloudinary.com/pricing</a>.</p>
<p>Learn more about Cloudinary: <a href="https://cloudinary.com/solutions">https://cloudinary.com/solutions</a>.</p>
<p>This is a quick tutorial on how setup image upload with Django and Cloudinary. Let’s roll…</p>
<h2 id="console">Console</h2>
<p>Visit <a href="https://cloudinary.com">Cloudinary.com</a> and create an account or login if you already have one. You’ll be provided a nice dashboard/console at <a href="https://cloudinary.com/console">https://cloudinary.com/console</a>. There you’ll find your account details i.e cloud name, API key and secret.</p>
<p><img src="https://cdn-images-1.medium.com/max/1000/1*ZxPbpbatoeCyZzldXXoX2Q.png" alt=""></p>
<h2 id="install">Install</h2>
<p>Cloudinary has an open source <a href="https://pypi.python.org/pypi/cloudinary">integration library for Python/Django</a>. Install it using pip.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-sh" data-lang="sh"><span style="display:flex;"><span>$ pip install cloudinary
</span></span></code></pre></div><h2 id="settings">Settings</h2>
<p>Go to your project’s <em>settings.py</em> and make the following additions.</p>
<p>First import cloudinary.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-py" data-lang="py"><span style="display:flex;"><span><span style="color:#f92672">import</span> cloudinary
</span></span></code></pre></div><p>Then add cloudinary to installed apps.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-py" data-lang="py"><span style="display:flex;"><span>INSTALLED_APPS <span style="color:#f92672">=</span> [
</span></span><span style="display:flex;"><span>    <span style="color:#e6db74">&#39;cloudinary&#39;</span>,
</span></span><span style="display:flex;"><span>    <span style="color:#75715e"># other apps</span>
</span></span><span style="display:flex;"><span>]
</span></span></code></pre></div><p>Now add the configs from your console.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-py" data-lang="py"><span style="display:flex;"><span>cloudinary<span style="color:#f92672">.</span>config(
</span></span><span style="display:flex;"><span>    cloud_name <span style="color:#f92672">=</span> CLOUDINARY_CLOUD_NAME,
</span></span><span style="display:flex;"><span>    api_key <span style="color:#f92672">=</span> CLOUDINARY_API_KEY,
</span></span><span style="display:flex;"><span>    api_secret <span style="color:#f92672">=</span> CLOUDINARY_API_SECRET
</span></span><span style="display:flex;"><span>)
</span></span></code></pre></div><p>Replace <code>CLOUDINARY_CLOUD_NAME</code>, <code>CLOUDINARY_API_KEY</code> and <code>CLOUDINARY_API_SECRET</code> as appropriate (they should be in quotes e.g <code>cloud_name = &quot;tchalla&quot;</code>).</p>
<h2 id="models">Models</h2>
<p>At any point and in any file in your Django project, you can easily make use of all the functions and classes the Cloudinary Python library provides. For instance, you can upload a file like so.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-py" data-lang="py"><span style="display:flex;"><span><span style="color:#f92672">import</span> cloudinary.uploader
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>cloudinary<span style="color:#f92672">.</span>uploader<span style="color:#f92672">.</span>upload(<span style="color:#e6db74">&#34;my_picture.jpg&#34;</span>)
</span></span></code></pre></div><p>See <a href="https://cloudinary.com/documentation/django_image_upload">https://cloudinary.com/documentation/django_image_upload</a> for more info on uploads.</p>
<p>However, you want to handle things the Django way as this would allow you utilize the rich APIs that Django ships with. By “the Django way”, I mean using models (in this case).</p>
<p>In Django, you can use ImageField or FileField in your model. Cloudinary provides CloudinaryField. Let’s create a Photo model using CloudinaryField in <em>models.py</em>.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-py" data-lang="py"><span style="display:flex;"><span><span style="color:#f92672">from</span> django.db <span style="color:#f92672">import</span> models
</span></span><span style="display:flex;"><span><span style="color:#f92672">from</span> cloudinary.models <span style="color:#f92672">import</span> CloudinaryField
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span><span style="color:#66d9ef">class</span> <span style="color:#a6e22e">Photo</span>(models<span style="color:#f92672">.</span>Model):
</span></span><span style="display:flex;"><span>    image <span style="color:#f92672">=</span> CloudinaryField(<span style="color:#e6db74">&#39;image&#39;</span>)
</span></span><span style="display:flex;"><span>    caption <span style="color:#f92672">=</span> models<span style="color:#f92672">.</span>CharField(max_length<span style="color:#f92672">=</span><span style="color:#ae81ff">100</span>, blank<span style="color:#f92672">=</span><span style="color:#66d9ef">True</span>)
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">def</span> __str__(self):
</span></span><span style="display:flex;"><span>        <span style="color:#66d9ef">return</span> self<span style="color:#f92672">.</span>caption <span style="color:#66d9ef">if</span> self<span style="color:#f92672">.</span>caption <span style="color:#f92672">!=</span> <span style="color:#e6db74">&#34;&#34;</span> <span style="color:#66d9ef">else</span> <span style="color:#e6db74">&#34;No caption&#34;</span>
</span></span></code></pre></div><p>Additionally, if you want to delete an image from Cloudinary when it’s model instance is deleted in your app (Django/Cloudinary doesn’t do this by default), you can add the following pre-delete signal after your model definition.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-py" data-lang="py"><span style="display:flex;"><span><span style="color:#a6e22e">@receiver</span>(pre_delete, sender<span style="color:#f92672">=</span>Photo)
</span></span><span style="display:flex;"><span><span style="color:#66d9ef">def</span> <span style="color:#a6e22e">photo_delete</span>(sender, instance, <span style="color:#f92672">**</span>kwargs):
</span></span><span style="display:flex;"><span>    cloudinary<span style="color:#f92672">.</span>uploader<span style="color:#f92672">.</span>destroy(instance<span style="color:#f92672">.</span>image<span style="color:#f92672">.</span>public_id)
</span></span></code></pre></div><p>Then add the following imports at the top of the file.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-py" data-lang="py"><span style="display:flex;"><span><span style="color:#f92672">from</span> django.db.models.signals <span style="color:#f92672">import</span> pre_delete
</span></span><span style="display:flex;"><span><span style="color:#f92672">import</span> cloudinary
</span></span></code></pre></div><h2 id="forms">Forms</h2>
<p>Using ModelForm to create a form from the Photo model, we have:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-py" data-lang="py"><span style="display:flex;"><span><span style="color:#f92672">from</span> django.forms <span style="color:#f92672">import</span> ModelForm
</span></span><span style="display:flex;"><span><span style="color:#f92672">from</span> .models <span style="color:#f92672">import</span> Photo
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span><span style="color:#66d9ef">class</span> <span style="color:#a6e22e">PhotoForm</span>(ModelForm):
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">class</span> <span style="color:#a6e22e">Meta</span>:
</span></span><span style="display:flex;"><span>        model <span style="color:#f92672">=</span> Photo
</span></span><span style="display:flex;"><span>        fields <span style="color:#f92672">=</span> (<span style="color:#e6db74">&#39;image&#39;</span>, <span style="color:#e6db74">&#39;caption&#39;</span>)
</span></span></code></pre></div><h2 id="views">Views</h2>
<p>For the view of PhotoForm form, we could have:</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-py" data-lang="py"><span style="display:flex;"><span><span style="color:#f92672">from</span> django.shortcuts <span style="color:#f92672">import</span> render, redirect
</span></span><span style="display:flex;"><span><span style="color:#f92672">from</span> .forms <span style="color:#f92672">import</span> PhotoForm
</span></span><span style="display:flex;"><span><span style="color:#f92672">from</span> .models <span style="color:#f92672">import</span> Photo
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span><span style="color:#66d9ef">def</span> <span style="color:#a6e22e">add_photo</span>(request):
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">if</span> request<span style="color:#f92672">.</span>method <span style="color:#f92672">==</span> <span style="color:#e6db74">&#34;POST&#34;</span>:
</span></span><span style="display:flex;"><span>        form <span style="color:#f92672">=</span> PhotoForm(request<span style="color:#f92672">.</span>POST, request<span style="color:#f92672">.</span>FILES)
</span></span><span style="display:flex;"><span>        <span style="color:#66d9ef">if</span> form<span style="color:#f92672">.</span>is_valid():
</span></span><span style="display:flex;"><span>            photo <span style="color:#f92672">=</span> Photo()
</span></span><span style="display:flex;"><span>            photo<span style="color:#f92672">.</span>caption <span style="color:#f92672">=</span> request<span style="color:#f92672">.</span>POST<span style="color:#f92672">.</span>get(<span style="color:#e6db74">&#39;caption&#39;</span>)
</span></span><span style="display:flex;"><span>            photo<span style="color:#f92672">.</span>save()
</span></span><span style="display:flex;"><span>            <span style="color:#66d9ef">return</span> redirect(<span style="color:#e6db74">&#39;/photo/&#39;</span> <span style="color:#f92672">+</span> photo<span style="color:#f92672">.</span>id)
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">else</span>:
</span></span><span style="display:flex;"><span>        form <span style="color:#f92672">=</span> PhotoForm()
</span></span><span style="display:flex;"><span>
</span></span><span style="display:flex;"><span>    <span style="color:#66d9ef">return</span> render(request, <span style="color:#e6db74">&#39;add-photo.html&#39;</span>, {<span style="color:#e6db74">&#39;form&#39;</span>: form})
</span></span></code></pre></div><h2 id="template">Template</h2>
<p>In the upload form template, you can simple do <code>{{ form }}</code> or manually design the HTML form to your taste.</p>
<h2 id="display">Display</h2>
<p>Displaying images from Cloudinary in your app is super simple and straight forward. If we fetch a Photo model instance in a view using <code>photo = Photo.objects.get(id=1)</code>, we can retrieve the image with <code>photo.image</code> which returns a CloudinaryResource object. This object has properties such as public_id, url, size (bytes), format etc.</p>
<p>One way to display the image in a template after passing the photo object from the view is to use the url property.</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-html" data-lang="html"><span style="display:flex;"><span>&lt;<span style="color:#f92672">img</span> <span style="color:#a6e22e">src</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;{{ photo.image.url }}&#34;</span>&gt;
</span></span></code></pre></div><p>This is great and all but it won’t afford us the opportunity to use the many image transformation options Cloudinary provides. Fortunately, the Cloudinary library provides a template tag we can load up and use.</p>
<pre tabindex="0"><code>{% load cloudinary %}{% cloudinary photo.image.public_id className=&#34;my-class&#34; height=200 width=100 %}
</code></pre><p>This template tag allows you to not only specify any Cloudinary transformation parameter, but also to specify regular HTML image tag attributes (like <code>title</code> and <code>alt</code>). For instance, we specified the class (className) <code>my-class</code> in the snippet above. This actually generates an image tag. E.g</p>
<div class="highlight"><pre tabindex="0" style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;"><code class="language-html" data-lang="html"><span style="display:flex;"><span>&lt;<span style="color:#f92672">img</span> <span style="color:#a6e22e">class</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;my-class&#34;</span> <span style="color:#a6e22e">src</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;https://res.cloudinary.com/demo/image/upload/h_200,w_100/sample.jpg&#34;</span> <span style="color:#a6e22e">height</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;200&#34;</span> <span style="color:#a6e22e">width</span><span style="color:#f92672">=</span><span style="color:#e6db74">&#34;100&#34;</span>&gt;
</span></span></code></pre></div><p>Read about all the transformation parameters available here: <a href="https://cloudinary.com/documentation/image_transformations">https://cloudinary.com/documentation/image_transformations</a>.</p>
<p>That’s it!</p>

                    
                    <HR width="100%" id="EOF">
		    <p style="color:#777;">Last modified on 2018-02-18</p>
                    
                </div>
            </div>
            
            
            <nav class="post-pagination">

                
                <a class="newer-posts" href="https://alphacoder.xyz/k-means/">
			Next<br>K Means
                </a>
                
                
                
                <a class="older-posts" href="https://alphacoder.xyz/deploy-react-django-app-on-heroku/">
			Previous<br>Deploy your React-Django app on Heroku
                </a>
                
            </nav>
            <div class="post-comment-wrapper">
                
<div id="disqus_thread"></div>
<script>
    

    var disqus_config = function () {
        
        this.page.url = 'https:\/\/alphacoder.xyz\/image-upload-with-django-and-cloudinary\/';  
        
        
        this.page.identifier = 'https:\/\/alphacoder.xyz\/image-upload-with-django-and-cloudinary\/'; 
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://alphacoderxyz.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript> Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow"> comments powered by Disqus.  </a> </noscript>











            </div>
        </div>
    </div>


                    </div>
            </div><div id="single-column-footer">&copy;
    
    Copyright 2017 to ∞. Nicholas Kajoh. All rights reserved.
    
</div>
            </div>
    
    <script src="/js/journal.js"></script>
    </body>
</html>
