{{ define "main" }}

{{ partial "single" . }}


{{ if ne .Params.showCustomAds false }}
<!-- newsletter form -->
<form
  style="border: 1px solid #ccc; text-align: center; border-radius: 2px; margin: 15px 0;"
  action="https://tinyletter.com/nicholaskajoh"
  method="post"
  target="popupwindow" onsubmit="window.open('https://tinyletter.com/nicholaskajoh', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <div style="padding: 20px;">
      <h2 style="margin-top: 0;">Subscribe to the Alpha Coder Newsletter!</h2>

      <p>Get timely updates on new articles, courses and more from Nicholas Kajoh. Unsubscribe anytime.</p>
      
      <input
        type="text"
        style="width: 150px; height: 30px; padding-left: 5px; border: 1px solid #ccc; border-radius: 2px;"
        name="email"
        placeholder="night.king@westeros.org">
      <input type="hidden" value="1" name="embed">
      <input
        type="submit"
        style="height: 34px; color: #fff; background-color: #00e; border: 1px solid #00e; border-radius: 2px;"
        value="Subscribe">
    </div>
</form>
<!-- ./newsletter form -->
{{ end }}

{{ if ne .Params.showPrevAndNextPosts false }}
  <!-- previous and next posts -->
  {{ if .PrevInSection }}
    <p>
      Previous post: <a href="{{ .PrevInSection.Permalink }}"><strong>{{ .PrevInSection.Title }}</strong></a>
    </p>
  {{ end }}

  {{ if .NextInSection }}
    <p>
      Next post: <a href="{{ .NextInSection.Permalink }}"><strong>{{ .NextInSection.Title }}</strong></a>
    </p>
  {{ end }}
  <!-- ./previous and next posts -->
{{ end }}

{{ if ne .Params.showComments false }}
  <br>{{ template "_internal/disqus.html" . }}
{{ end }}

{{ end }}