<header>
    <h1>
        {{- .Title | markdownify -}}
    </h1>
    {{ partial "post_meta.html" . }}
</header>
<article>
    <!-- ad -->
    <div id="743473680">
        <script type="text/javascript">
            try {
                window._mNHandle.queue.push(function (){
                    window._mNDetails.loadTag("743473680", "728x90", "743473680");
                });
            }
            catch (error) {}
        </script>
    </div>
    <!-- ./ad -->

    {{ .Content }}
</article>
